* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: rgb(40, 39, 39);
}

body {
  background-image: url(/img/background1.jpg);
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

h2 {
  font-size: 4.5rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15rem auto 0 auto;
}

h1 {
  font-size: 8rem;
  margin: 2rem 4rem;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 60%;
  margin-left: 8rem;
}

.first-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8rem;
  justify-content: center;
}

.greetings {
  font-size: 10rem;
}

.search-bar {
  border: 0.5rem solid teal;
  border-radius: 2rem;
  font-size: 3rem;
  height: 70%;
  padding-left: 4rem;
  width: 50%;
}

.search-result {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  transition: opacity 1.2s;
}

.search-result ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-result li {
  font-size: 4rem;
  list-style-type: none;
}

.artists-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.artists-list {
  align-items: center;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

.artist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.artist-item img {
  border-radius: 5rem;
  display: block;
  max-width: 20rem;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.artist-item p {
  font-size: 2.5rem;
}

.right-section {
  width: 30%;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tracks-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 3rem;
  justify-content: space-between;
  gap: 1.5rem;
}

.track-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  width: 50%;
  border: 0.2rem solid #ffffffdd;
  background-color: #81b39ab1;
  border-radius: 1rem;
  padding: 1rem;
}

.track-item-playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  width: 50%;
  border: 0.2rem solid #ffffffdd;
  background-color: #e1785eb9;
  border-radius: 1rem;
  padding: 1rem;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.track-item img,
.track-item-playlist img {
  width: 10%;
  max-width: 5rem;
  max-height: 5rem;
}

.track-artist {
  font-size: 2rem;
  font-weight: bolder;
}

.playlist {
  align-items: left;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  justify-content: space-between;
  gap: 3rem;
}

.playlist-container {
  align-items: left;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  justify-content: space-between;
  gap: 3rem;
}
